body{
    background-color: antiquewhite;
}
#container{
    max-width: 960px;
    width: 95%;
    margin: 0 auto;
    text-align: center;
}
button{
    background: #ccc;
    padding: 0.5em;
    margin: 0 auto;
}
table{
    width: 95%;
    margin: 0 auto;
    margin-top: 1em;
    border-collapse: collapse;
}
table caption{
    background-color: #ccc;
}
table, th, td{
    border: 1px solid grey;
    padding: 0.5em 0 0.5em 0;
}
#codigo-input{
    text-align: center;
}

#span-div{
    height: 150px;
    width: 250px;
    background: #ccc;
    margin: 20px auto;
    padding: 0.5em;
    border-radius: 0.5em;
}